{% extends 'base.html' %}

{% block title %}
Добавить пост :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/top_tags.html' %}
{% endblock %}

{% block content %}
<h2>Добавить пост</h2>
<hr>
<br>

<form action="{% url 'add_post' %}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.non_field.errors }}
    <div class="form-group mb-4">
        <label for="{{ form.title.id_for_label }}"><h6>Название:</h6></label>
        {{ form.title }}
        <div class="invalid-feedback">
            {{ form.title.errors }}
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="{{ form.description.id_for_label }}"><h6>Описание:</h6></label>
        {{ form.description }}
        <div class="invalid-feedback">
            {{ form.description.errors }}
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="{{ form.content.id_for_label }}"><h6>Текст поста:</h6></label>
        {{ form.content }}
        <div class="invalid-feedback">
            {{ form.content.errors }}
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="{{ form.picture.id_for_label }}"><h6>Изображение ---> </h6></label>
        {{ form.picture }}
        <div class="invalid-feedback">
            {{ form.picture.errors }}
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="{{ form.tags.id_for_label }}"><h6>Теги:</h6></label>
        {{ form.tags }}
        <div class="invalid-feedback">
            {{ form.tags.errors }}
        </div>
        <p><em>Перечислите теги через запятую: "tag1, tag2"</em></p>
    </div>

    <button type="submit" class="btn btn-outline-success mt-3 mb-5">Добавить</button>
</form>
{% endblock %}


